body{}

.sce-1{
	   padding: 0px;
	   margin: 0px;
	   background-color: #000;
	  }
.wrapper{ display: block; margin: 0 auto;}
.wrapper:before {
		         content: "";
	             position: absolute;
	             top: 10px; right: 0px;
	             margin: 0px;
	             background-image: url('../images/banner.jpg');
	             z-index: -9;
                 width: 100%;
                 height: 900px;
	             background-repeat: no-repeat;
	             position:absolute;
	             background-size: contain;
	            }

.wrapper h6{
	        padding: 0px;
	        margin: 120px 0px 0px 0px ;
	        font-size: 18px;
	        font-weight:400;
	        color: #fff;
	       }
.wrapper h1{
	        padding: 0px;
	        margin: 0px 347px 0px 0px ;
	        font-size: 50px;
	        font-weight: 700;
	        color: #fff;
	       }
.wrapper p{
	        padding: 0px;
	        margin: 20px 577px 0px 0px ;
	        font-size: 18px;
	        color: #fff;
	       }
.btnn{
	  color: #000;
	  background: #fff;
	  padding: 15px 30px;
	  margin: 30px 0px;
	  font-size: 16px;
	  border-radius: 10px;
}	       
.card-1{
	  padding: 0px;
	  margin: 100px 0px;
	  background-color: #190201;
	  transition: 1s;
}
.card-1:hover{
	          transition: 1s;
	          transform:scale(1.1);
}
.card-1 img{
	     padding: 0px;
	     margin: 40px 139px;;
	     width: 70px;
	     float: left;
	     display: block;
	     
}

.card-1 h5{
	     padding: 0px;
	     margin: 0px;
	     font-size: 18px;
	     color: #fff;
	     text-align: center;

}
.card-1 p{
	     padding: 0px;
	     margin:20px 33px 40px 33px;
	     font-size: 16px;
	     color: #fff;
	    text-align: center;
}
.info{
	  padding: 0px;
	  margin: 0px;

}
.info img{
	      padding: 0px;
	      margin: 0px;
	      width: 500px;

        }
.info h5{
	      padding: 0px;
	      margin: 0px 110px 0px 0px;
	      font-size: 30px;
	      font-weight: 700;

        }
.info p{
	      padding: 0px;
	      margin: 20px 53px 20px 0px  ;
	      font-size: 16px;
	      line-height: 30px;
        }
.info ul{
	      padding: 0px;
	      margin: 0px;
        }
.info li{
	      padding: 0px;
	      margin: 4px 15px;

        }
.info li a{
	      padding: 0px;
	      margin: 0px;
	      font-size: 18px;
	      color: #000;
	      text-decoration: none;
        }

.sec-3{
	   padding: 0px 0px 80px 0px;
	   margin: 80px 0px 0px 0px;
	   background-color: #7d7d7d;
}
.sec-3 h5{
	   padding: 0px;
	   margin: 80px;
	   font-size: 30px;
	   font-weight: 700;
	   color: #000;
}
.card-2{
	  padding: 0px 0px 40px 0px;
	  margin: 0px 0px 40px 0px;
}
.card-2 img{
	     padding: 0px;
	     margin: 40px 139px;;
	     width: 70px;
	     float: left;
	     display: block;
	     
}

.card-2 h5{
	     padding: 0px;
	     margin: 0px;
	     font-size: 18px;
	     color: #000;
	     text-align: center;

}
.card-2 p{
	     padding: 0px;
	     margin:20px 33px 0px 33px;
	     font-size: 16px;
	     color: #000;
	    text-align: center;
}
.card-2 button{
	     padding:13px 0px;
	     margin: 30px 91px;
	     font-size: 16px;
        color: #fff;
        background: #190201;
        border-radius: 10px;
}
.family img{
	     padding: 0px;
	     margin: 40px 132px;
	     width: 80px;
	     
}
.family2 img{
	     padding: 0px;
	     margin: 40px 132px;
	     width: 59px;
	     
}
.family3 img{
	    padding: 0px;
	     margin: 40px 139px;;
	     width: 49px;
}
.family4 img{
	    padding: 0px;
	     margin: 40px 139px;;
	     width: 80px;
}
.case{
	  padding: 0px;
	  margin: 80px 0px 0px 0px;

}
.case h5{
	  padding: 0px;
	  margin:0px 0px 80px 0px;
	  font-size:30px;
	  font-weight:700;
	}
.case img{
	      padding: 0px;
	      margin: 0px;
	      width:345px;
	  }
.sec-4{
	   padding: 0px;
	   margin: 80px 0px 0px 0px;
	   background-color: #190201;
}
.sec-4 img{
	   padding: 0px;
	   margin: 100px 0px 20px 100px;
	   width: 70px;
}
.sec-4 h3{
	   padding: 0px;
	   margin: 0px;
	   font-size: 40px;
	   color: #fff;
	   text-align: center;
}
.sec-4 h6{
	   padding: 0px;
	   margin: 5px 0px 100px 0px;
	   font-size: 16px;
	   color: #fff;
	   text-align: center;
}

.com img{
	   padding: 0px;
	   margin: 100px 0px 20px 90px;
	   width: 78px;
}
.light img{
	   padding: 0px;
	   margin: 100px 0px 20px 100px;
	   width: 48px;
}
.beg img{
	   padding: 0px;
	   margin: 100px 0px 20px 88px;
	   width: 80px;
}

.sec-5{
	   padding: 0px 0px 60px 0px;
	   margin: 0px 0px 0px 0px;
	   background-color: #7d7d7d;
}
.sec-5 h5{
	   padding: 80px 0px 0px 0px;
	   margin: 0px;
	   font-size: 30px;
	   font-weight: 700;
	   color: #000;
}


.hovereffect2 {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect2 .overlay2 {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect2 img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect2 h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect2 a.info2 {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect2 a.info2:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect2:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect2:hover .overlay2 {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect2:hover h2,.hovereffect2:hover a.info2 {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect2:hover a.info2 {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}





.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.hovereffect .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
	top: auto;
	bottom: 20px;
	padding: 1em;
	height: 4.75em;
	background: #79FAC4;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	visibility: hidden;

}

.hovereffect img {
    display: block;
    position: relative;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.hovereffect:hover img {
-webkit-transform: translate3d(0,-10%,0);
	transform: translate3d(0,-10%,0);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 14px;
    padding: 12px 127px;;
    background: rgb(59 44 35);
	float: left;
	margin: 0px -20px;
	display: inline-block;
}
.hovereffect:hover h5 {
-webkit-transform: translate3d(0,-10%,0);
	transform: translate3d(0,-10%,0);
}
.hovereffect:hover p {
-webkit-transform: translate3d(0,-10%,0);
	transform: translate3d(0,-10%,0);
}


.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
	color: #fff;
	border: 1px solid #fff;
	margin: 50px 0 0 0;
	background-color: transparent;
}
.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}


.hovereffect p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.4em;
}

.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
	color: #252d31;
}

.hovereffect h2,
.hovereffect p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
	visibility: visible;
}

.hovereffect p.icon-links a span:before {
	display: inline-block;
	padding: 8px 10px;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.hovereffect:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}














@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #000;
    font-weight: 600;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 80px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #000; !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.h h5{
	padding: 0px;
	margin: 80px 0px 80px 0px;
	font-size: 30px;
	font-weight: 700;
}
.wrapper-2{ display: block; margin: 0 auto;}
.wrapper-2:before {
		         content: "";
	             position: absolute;
	              right: 0px;
	             margin: 0px;
	             background-image: url('../images/form.jpg');
	             z-index: -9;
                 width: 100%;
                 height: 900px;
	             background-repeat: no-repeat;
	             position:absolute;
	             background-size: contain;
	            }
.wrapper-2 img{
	           padding: 0px;
	           margin: 160px 0px 7px 75px;
	           width: 100px;
}
.wrapper-2 h1{
	           padding: 0px;
	           margin: 0px 75px;
	          font-size: 40px;
	          color: #fff;
}
.wrapper-2 ul{
	           padding: 0px;
	           margin: 0px 65px;
}
.wrapper-2 li{
	           padding: 0px;
	           margin: 0px;
	           list-style: none;
}
.wrapper-2 li img{
	           padding: 0px;
	           margin: 10px;
	           width: 20px;
}
.wrapper-2 li span{
	           padding: 0px;
	           margin: 0px;
	           font-size: 18px;
	           color: #fff;
}

.red{
    color:red;
    }
.form-area
{
    background-color: #fff;
	padding: 30px 40px 60px;
	margin: 80px 0px 60px;
	border: 1px solid GREY;
	}

.btnn4{
	   padding: 10px 168px;
	   margin: 0px;
	   font-size: 20px;
	   font-weight: 700;
	   color: #fff;
	   background-color: #c6ac82;
}
.footer{
	    padding: 0px;
	    margin: 115px 0px 0px 0px; 
	    background: #190201;
}
.footer h6{
	    padding: 0px;
	    margin: 80px 0px 20px 0px;
	    font-size: 24px;
	    color: #fff;
}

.footer ul{
	    padding: 0px;
	    margin: 0px;
}
.footer li{
	    padding: 0px;
	    margin: 10px 0px;
	    list-style: none;
}
.footer li a{
	    padding: 0px;
	    margin: 0px;
	    list-style: none;
	    font-size: 14px;
	    text-decoration: none;
	    color: #fff;

}
.footer li a:hover{
	               color:blue;
}
.footer  img{
	    padding: 0px;
	    margin: 0px;
	    width: 80px;
}
.footer  span{
	    padding: 0px;
	    margin: 0px;
	    font-size: 16px;
	    color: #fff;
}
.footer2{
	     padding: 0px;
	     margin: 119px 0px;
}
.sec-6{
	   padding: 10px;
	   margin: 0px;
	   background-color: #2d0c0b;
}
.sec-6 h6{
	   padding: 0px;
	   margin: 20px 0px;
	   color: #fff;
}


@media only screen and (max-width: 767px){
.info img {
    width: 315px;
}
.btnn4 {
         padding: 10px 65px;
       }
.wrapper:before {
			    height: 700px;
			    background-size: cover;
	}

.wrapper h6 {
    margin: 80px 0px 0px 0px;
    text-align: center;
}


.wrapper h1 {
    text-align: center;
     margin: 0px 0px 0px 0px ;
}
.wrapper p {
    text-align: center;
    margin: 20px 0px 0px 0px ;
}
.card-1 {
    padding: 0px;
    margin: 16px 0px;
}

.btnn {
    margin: 30px 76px


}
.info img {
    margin: 20px 0px;
}

.info h5 {
		    text-align: center;
		    padding: 0px;
		    margin: 0px;
		    font-size: 26px;
		 }
.info p {
         text-align: center;
             margin: 20px 0px;
        }
.sec-3 h5 {
    padding: 0px;
    margin: 0px 0px;
}
.sec-3 {
    padding: 40px 0px 40px 0px;
    }
    .sec-4 {

             margin: 40px 0px 0px 0px
          }
    .card-2 {
    margin: 40px 0px 0px 0px;
}
.case img {
    padding: 0px;
    margin: 20px 0px;
    width: 320px;
}
.sec-4 img {
    margin: 40px 0px 20px 138px;

		}

.h h5 {

    margin: 40px 0px 40px 0px;
}
.wrapper-2:before {
                   background-size: cover;
    }
.wrapper-2 img {
    padding: 0px;
    margin: 40px 0px 7px 107px
    }

.wrapper-2 h1 {
    padding: 0px;
    text-align: center;
    margin: 0px 0px ;
}
.wrapper-2 ul {
    padding: 0px;
    margin: 0px 22px;
}
.form-area {
    background-color: #fff;
    padding: 30px 40px 60px;
    margin: 21px 0px 60px;
	}


.footer h6 {
    text-align: center;
}
.footer li {
            text-align: center;
}
.footer { 
	display: none;s
    margin: 0px 0px 0px 0px;
}
.footer img {
    padding: 0px;
    margin: 0px 0px 0px 61px;
    width: 98px;
}
.footer2{
	     padding: 0px;
	     margin: 30px 0px;
}

.sec-6 img{padding: 80px; margin: 0px;}
.sec-6 h6 {
    text-align: center;
}
.btn-outline-whiite{display: none;}
}

